:root {
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --main-akcent-color: #2196f3;
}

body {
  font-family: 'Roboto', 'Erial';
  color: #212121;
}

h1,
h2,
h3,
p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
}
.secondary-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.main-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.third-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
/*--------------------------HEADER------------------------*/
.logo-blu {
  font-family: 'Raleway', 'Sans-serif';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-blu:hover,
.logo-blu:focus {
  color: #212121;
}
.logo-black {
  font-family: 'Raleway', 'Sans-serif';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.logo-black:hover,
.logo-black:focus {
  color: var(--main-akcent-color);
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: var(--main-akcent-color);
}
.current {
  color: var(--main-akcent-color);
}

.header-mail,
.header-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--main-akcent-color);
}

.logo {
  display: flex;
  margin-left: 0px;
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 48px;
}

.link-nav {
  padding-top: 32px;
  padding-bottom: 48px;
}

.header-one {
  display: flex;
}

.header-list:not(:last-child) {
  margin-right: 50px;
}

.header-info {
  display: flex;
  margin-left: auto;
}

.header-infolist:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  display: flex;
}

.container-header {
  display: flex;
}
/*--------------------------HERO--------------------------*/
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  min-width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  background-color: orange;
}

.hero {
  background-color: #2f303a;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--main-akcent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}
/*--------------------section------------------------*/
.best {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team.secondary-title {
  margin-top: 0px;
  margin-bottom: 50px;
}
.about-title.secondary-title {
  margin-top: 0px;
  margin-bottom: 50px;
}
.about {
  padding-top: 0px;
  padding-bottom: 94px;
  background-color: aqua;
}
.team {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em color var(--secondary-title-color);
}
.text-team {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*--------------------------FOOTER------------------------*/
.footer {
  background-color: #2f303a;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-white:hover,
.logo-white:focus {
  color: var(--main-akcent-color);
}
.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map:focus,
.footer-map:hover,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--main-akcent-color);
}

/*----------------------Портфолио--------------------*/
.btn {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--main-akcent-color);
}

.title-portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-portfolio:hover {
  color: var(--main-akcent-color);
}
/*----------03 модуль------------*/
.container {
  width: 1200px;
  margin: 0% auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid orange;
}

/*--------------------сетка портфолио------------*/
.container-portfolio {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}
.item * {
  outline: 1px solid aqua;
}
.pictures {
  margin-bottom: 20px;
}
.title-portfolio {
  margin-bottom: 4px;
}
.card-content {
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
